.note-container {
  position: relative;
  margin: 0 0 20px;
  background: #fff;
  box-shadow: 1px 1px 10px #ddd;

  .affix {
    .actions {
      border-bottom: 1px solid #eee;
    }
  }

  .note-container-header {
    position: fixed;
    z-index: 101;
    width: 752px;

    @media (max-width: 900px) {
      left: 15px;
      right: 15px;
    }
  }

  .note-container-header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    box-shadow: 1px 1px 10px #ddd;
  }

  .actions {
    position: absolute;
    top: 0;
    z-index: 111;
    padding: 10px 15px;
    height: 50px;
    width: 100%;
    background: #fff;


    .tools .t {
      display: inline-block;
      position: relative;
      overflow: hidden;

      a {
        color: #9f9f9f;
      }

      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }

      input {
        display: block !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
      }
    }

    .tools .switch {
      display: inline-block;
      float: right;

      a {
        color: #555;
      }

      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .ant-upload-list {
      position: absolute;
      top: 0;
      left: 80px;
    }

    .ant-upload-list-item-done {
      display: none;
    }

    .ant-upload-list-item-info .anticon-paper-clip {
      display: none;
    }

    .ant-upload-list-item-info .anticon-cross {
      display: none;
    }

    .ant-upload-list-item-progress {
      padding: 0;
    }
  }

  .editor {
    margin-top: 50px;
  }
}
