@import '{started:antd}/style/mixins/index.less';

.note-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fafafa;

  .inner {
    height: 97px;
    padding: 40px 0 25px;
    .clearfix();
  }

  .back {
    display: block;
    float: left;
    margin-right: 10px;
    height: 100%;
    color: #000;

    i {
      font-size: 28px;
      margin-top: 2px;
    }
  }

  .users {
    float: right;
    position: relative;

    button {
      height: 32px;
    }
  }

  .title {
    h1 {
      display: inline-block;
      line-height: 32px;
      font-size: 20px;
      font-weight: 400;
      color: #000;
    }

    .view {
      a {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        padding-left: 16px;
        font-size: 15px;
        visibility: hidden;

        i {
          position: absolute;
          left: 0;
          top: 1px;
          font-size: 16px;
        }
      }

      &:hover {
        a {
          visibility: visible;
        }
      }
    }

    .edit {
      form {
        margin: 0 300px 0 0;
      }

      input {
        padding: 0;
        height: 32px;
        width: 80%;
        line-height: 32px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
      }

      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
}
