.dashboard {
  height: 100%;
  width: 100%;
  overflow: hidden;

  &-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .content {
    margin-left: 200px;
    height: 100%;
    overflow: hidden;
  }
}
